# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.local

# IDE
.idea/
.vscode/

# Static and Media
static/
staticfiles/
media/

# OS-specific
.DS_Store
Thumbs.db
